body {
    font-family: 'GFS Didot', serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 0px;
}

.header-container {
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #f0f0f0;
    border-bottom: 3px solid black;
    padding: 10px 10px 0 10px;
}

.logo {
    width: 200px; /* Adjust width as needed */
    margin-right: 0px; /* Add some space between logo and text */
}

.comprehensive-button_img {
    width: 200px; /* Adjust width as needed */
    margin-right: 0px; /* Add some space between logo and text */
    cursor: pointer;
}
.header {
    font-size: 72px;
    margin-right: 10px;
}

.tabs {
    display: flex;
    margin-left: 20px;
    flex:0;
}

.tab, .dark-tab {
    padding: 10px 20px;
    border: 1px solid #ccc;
    margin: 0px 1px 0px 1px;
    cursor: pointer;
    flex: 0;
    text-align:center;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
}

.dark-tab {
    background-color: rgb(164, 164, 164);
}

.comprehensive-button_img {
    position: fixed; /* Make the position fixed */
    top: 100px; 
    left: 1100px; 
    background-size: 220px;
    background-image: url('/UI/media/comprehensive_button.png');
    width: 200px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 25px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.black-bar {
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 20px 0;
}

.task-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.task-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
}

.task {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border: 3px solid black;
    overflow: hidden; 
}

.task-text {
    margin-top: 10px;
    font-size: 18px;
    color: black;
}

.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: lightgreen;
    transform: translateY(100%); /* Start from bottom */
    transition: transform 1s ease-in-out;
}

.task-section {
    background-color: rgba(240, 255, 240, 0.5); /* Transparent light green */
    border: 4px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    position: absolute; /* Fixed position */
    top: 100px; 
    left: 45%; /* Center the section horizontally */
    transform: translateX(-50%); /* Center the section */
    width: 800px; 
    height: 200px; 
}

.score-section {
    background-color: rgba(240, 255, 240, 0.5); /* Transparent light green */
    border: 4px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    position: absolute; /* Fixed position */
    top: 380px; 
    left: 45%; 
    transform: translateX(-50%); /* Center the section */
    width: 800px; /* Fixed width */
    height: 80px; /* Fixed height */
}

.info-section {
    background-color: rgba(240, 255, 240, 0.5); /* Transparent light green */
    border: 4px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    position: absolute; /* Fixed position */
    top: 150px; 
    left: 82%;
    transform: translateX(-50%); /* Center the section */
    width: 100px; /* Fixed width */
    height: 312px; /* Fixed height */
}

.setting-section {
    background-color: rgba(240, 255, 240, 0.5); /* Transparent light green */
    border: 4px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    position: absolute; /* Fixed position */
    top: 100px; 
    left: 50%; /* Center the section horizontally */
    transform: translateX(-50%); /* Center the section */
    width: 1000px; 
    height: 500px; 
}